html,
body {
	height: 100%;
}

body.center-body {
	display: flex;
	align-items: center;
	padding-bottom: 40px;
	padding-top: 40px;
}
a#google-signin {
	display: inline-block;
	background: #4285f4;
	color: white;
	border-radius: 5px;
	box-shadow: 1px grey;
	white-space: nowrap;
}

a#google-signin:hover {
	background: #3063b5;
}
span#g-logo {
	font-family: serif;
	font-weight: normal;
}
span#g-logo {
	background: url('btn_google_light_pressed_ios.svg') 50% no-repeat;
	display: inline-block;
	vertical-align: middle;
	width: 42px;
	height: 42px;
}
span#g-text {
	display: inline-block;
	vertical-align: middle;
	padding-left: 42px;
	padding-right: 42px;
	font-size: 14px;
	font-weight: bold;
	/* Use the Roboto font that is loaded in the <head> */
	font-family: 'Roboto', sans-serif;
}
