{% extends 'base.html' %}
{% block title %}UH OH!{% endblock %}

{%block content%}
<div class="row align-middle justify-content-center">
    <div class="jumbotron text-center" style='background:none'>
        <h1 class="text-danger banned">HEY! YOU CAN'T BE HERE!</h1>
        <br>
        <img class="img-fluid" src="https://i.giphy.com/media/xT9KVuimKtly3zoJ0Y/giphy.webp">
        <p class="pt-5">You do not have permission to view this page </p>
       
    <a href="/"><i class="fas fa-dumbbell fa-5x"></i></a>
    </div>
    
</div>
{%endblock%}