{% extends 'base.html' %}

{%block title%}Home{%endblock%}

{%block style%}center-body{%endblock%}
{%block content%}
{% include 'auth_nav.html' %}

<h1 class="display1 text-center">New Workout</h1>
<div class="container">
    <form method='post'>
        {{ form.hidden_tag() }}
        <div class="form-row justify-content-center">
            <div class="form-group col-md-6">
             {{form.title.label}}
             {{form.title(class_='form-control')}}
                <div class="title-errors">
                    {% for error in form.title.errors %}  
                    <span class="text-danger">{{error}}</span>
                    {% endfor %}
                </div>
            </div>  
            
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-md-6">
             {{form.details.label}}
             {{form.details(class_='form-control', rows=15)}}
             <div class="details-errors">
                {% for error in form.details.errors %}  
                <span class="text-danger">{{error}}</span>
                {% endfor %}
            </div>
            </div>  
            
        </div>
        <div class="row justify-content-center d-flex flex-wrap">
            <div class="form-group col-md-3">
                
                {{form.muscles.label}}
                <div class="muscle-errors">
                    {% for error in form.muscles.errors %}
                    <span class="text-danger">{{error}}</span>
                    {% endfor %}
                </div>
                {% for choice in form.muscles %}
                <div class="form-check">
                    {{ choice(class="form-check-input") }}
                    {{ choice.label(class="form-check-label") }}
                </div>
                
                {%endfor %}
                
                
            </div>
            
            <div class="form-group col-md-3">
                
                {{form.equipment.label}}
                <div class="equipment-errors">
                    {% for error in form.equipment.errors %}
                    <span class="text-danger">{{error}}</span>
                    {% endfor %}
                </div>
                {% for choice in form.equipment %}
                    <div class="form-check">
                        {{ choice(class="form-check-input") }}
                        {{ choice.label(class="form-check-label") }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-md-6">
                <div class="form-check">
                    
                    <div class="input-group">
                        {{form.is_private(class_='form-check-input')}}
                        {{form.is_private.label}}
                        <div class="input-group-append">
                            <a href="#" id='private-pop' title='Private Post' data-toggle='popover' data-trigger='focus' data-content='A private post can only be seen by other logged-in users, and will not be shown on the main page to anonymous users'><i class="far fa-question-circle mx-3 text-info"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            
        </div>
        

        <div class="form-group row justify-content-center">
            <a href="javascript:history.back()" class="btn btn-lg btn-danger col-md-2 form-control mx-3 my-2">Cancel</a>
            <button class="btn btn-lg btn-success col-md-2 form-control mx-3 my-2" type='submit'>Submit</button>
        </div>
        
    </form>
    </div>


 
    
{%endblock%}
{%block scripts%}
<script>
    $('a#private-pop').on('click', function(e) {e.preventDefault(); return true;});
</script>
{%endblock%}