{% extends 'base.html' %}

{%block title%}Home{%endblock%}

{%block style%}center-body{%endblock%}
{%block content%}
{% include 'auth_nav.html' %}
<div class="container my-3">
    {% include 'flash.html'%}
</div>

<div class="container mb-3">
    
    <div class="row justify-content-center">
        <div class="col-sm-8" id='auth-posts'>
            <ul class="list-group" id="posts">
            </ul>
        </div>
        
    </div>
    <div class="row justify-content-center pb-3 my-3">
        <button class="btn btn-lg btn-info" style="display:none" id='loadMore'>Load More</button>
        <button class="btn btn-lg btn-link" id='topBtn'>Back to Top</button>

    </div>
   

   
</div>




{%endblock%}
{%block scripts%}

<script src="/static/all_posts.js"></script>
{% endblock %}
