{% extends 'base.html' %}

{%block title%}Home{%endblock%}

{%block style%}center-body{%endblock%}
{%block content%}
{% include 'auth_nav.html' %}
<div class="container my-3">
    {% include 'flash.html'%}
</div>

<div class="container mb-3">
    
    <div class="row">

        <aside class="col-md-4 col-lg-3 col-sm-12" id="home-aside">
            <div class="card user-card mb-3">
              <div>
                <div class="image-wrapper">
                  <img src="{{ user.cover_url }}" alt="" class="card-hero">
                </div>
                <a href="/user/{{ user.id }}" class="card-link">
                  <img src="{{ user.image_url }}"
                       alt="Image for {{ user.username }}"
                       class="card-image">
                  <p class="text-danger danger-hover">@{{ user.username }}</p>
                </a>
                <ul class="user-stats nav nav-pills">
                  <li class="stat">
                    <p class="small">Posts</p>
                    <h4 class="text-center">
                      <a href="/user/{{ user.id }}">{{ user.posts | length }}</a>
                    </h4>
                  </li>
                  <li class="stat">
                    <p class="small">Favorites</p>
                    <h4 class="text-center">
                      <a href="/user/{{ user.id }}/likes">{{ user.likes | length }}</a>
                    </h4>
                  </li>
                </ul>
              </div>
            </div>
          </aside>
        <div class="col-lg-6 col-md-8 col-sm-12" id='auth-posts'>
            <hr class="to-hide">
            <h3 class="to-hide text-center">Posts</h3>
            <ul class="list-group" id="posts">
            </ul>
        </div>
        
    </div>
    <div class="row justify-content-center pb-3 my-3">
        <button class="btn btn-lg btn-info" style="display:none" id='loadMore'>Load More</button>
        <button class="btn btn-lg btn-link text-danger" id='topBtn'>Back to Top</button>

    </div>
   

   
</div>




{%endblock%}
{%block scripts%}

<script src="/static/javascript/all_posts.js"></script>
{% endblock %}
