{%extends 'base.html'%}
{%block title%}Home{%endblock%}
{%block style%}class='center-body'{%endblock%}
{%block content%}
{% if user.username %}
<h1 class="display-2 text-center text-success">Welcome, {{user.username}}!</h1>
{% else %}
<h1 class="display-2 text-center text-success">Welcome, {{user.email}}!</h1>
{%endif%}
{% if  user.posts %}
<h2 class="display-3 text-info">Workouts</h2>
{% else %}
<h4 class="display-5 text-primary text-center">{{user.username}} has not posted any workouts yet!</h4>

{% endif %}
{%endblock%}