{% extends 'base.html' %}

{%block title%}Home{%endblock%}
{%block content%}
{% include 'auth_nav.html' %}
<div class="container my-5 py-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <ul class="list-group no-hover" id="posts">
        <li class="list-group-item">
          <a href="{{ url_for('show_user_profile', user_id=post.user.id) }}">
            <img src="{{ post.user.image_url }}" alt="" class="timeline-image">
          </a>
          <div class="post-area w-75">
            <div class="post-heading">
              <a href="/user/{{ post.user.id }}"> {{post.user.first_name}}  {{post.user.last_name}} - @{{ post.user.username }}</a>
              {% if 'current_user' in session %}
                {% if session['current_user'] == post.user.id %}
                  <form method="POST"
                        action="/posts/{{ post.id }}/edit">
                    <button class="btn btn-outline-danger">Edit</button>
                  </form>
                  <form method="POST" action="/posts/{{post.id}}/like" class="messages-like">
                    <button class="
                      btn 
                      btn-sm 
                      {{'btn-danger' if post in user.likes else 'btn-outline-danger'}}" id='like'
                    >
                    {% if post in user.likes %}
                    <i class="fas fa-star"></i>
                    {% else %}
                    <i class="far fa-star"></i>
                    {% endif %}
                    </button>
                  </form>
                  {%else%}
                  <form method="POST" action="/posts/{{post.id}}/like" class="messages-like">
                    <button class="
                      btn 
                      btn-sm 
                      {{'btn-danger' if post in user.likes else 'btn-outline-danger'}}" id='like'
                    >
                      <i class="fa fa-thumbs-up"></i> 
                    </button>
                  </form>
                {% endif %}
              {% endif %}
            </div>
            <p class="single-post" style='white-space: pre-line;'>{{ post.details }}</p>
            <p>
              Muscles:
              {%for muscle in post.muscles%}
            <small class="text-success">- {{muscle.name}} -</small>
            {% endfor %}
            </p>
            <p class="mt-2">Equipment:
              {%for equipment in post.equipment%}
            <small>- {{equipment.name}} -</small>
            {% endfor %}
            </p>
            
            {% if post.is_private %}
                    <span class="text-muted">{{ post.timestamp.strftime('%b %d, %Y') }}<small class="ml-3 post-lock">Private<i class="fas fa-user-lock ml-1"></i></small></span>
                    {% else %}
                    <span class="text-muted">{{ post.timestamp.strftime('%b %d, %Y') }}</span>
                    {%endif%}
          </div>
        </li>
      </ul>
    </div>
  </div>
  
</div>

  

{% endblock %}

{%block scripts%}
<script src="/static/stars.js"></script>
{%endblock%}