{% extends 'base.html' %}

{%block title%}Home{%endblock%}
{%block content%}
{% include 'auth_nav.html' %}
<div class="container my-5 py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <ul class="list-group no-hover" id="posts">
        <li class="list-group-item">
          <a href="{{ url_for('show_user_profile', user_id=post.user.id) }}">
            <img src="{{ post.user.image_url }}" alt="" class="timeline-image">
          </a>
          <div class="post-area">
            <div class="post-heading">
              <a href="/user/{{ post.user.id }}">@{{ post.user.username }}</a>
              {% if 'current_user' in session %}
                {% if session['current_user'] == post.user.id %}
                  <form method="POST"
                        action="/posts/{{ post.id }}/edit">
                    <button class="btn btn-outline-danger">Edit</button>
                  </form>
                {% endif %}
              {% endif %}
            </div>
            <p class="single-post">{{ post.details }}</p>
            <p>
              Muscles:
              {%for muscle in post.muscles%}
            <small>- {{muscle.name}} - </small>
            {% endfor %}
            </p>
            <p class="mt-2">Equipment:
              {%for equipment in post.equipment%}
            <small>- {{equipment.name}} - </small>
            {% endfor %}
            </p>
            
            <span class="text-muted">{{ post.timestamp.strftime('%d %B, %Y') }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  
</div>

  

{% endblock %}