{% extends 'base.html' %}

{%block title%}Post- {{post.title}}{%endblock%}
{%block content%}
{% include 'auth_nav.html' %}
<div class="container my-5 py-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <ul class="list-group no-hover" id="posts">
        <li class="list-group-item">
          <a href="{{ url_for('show_user_profile', user_id=post.user.id) }}">
            <img src="{{ post.user.image_url }}" alt="" class="timeline-image">
          </a>
          <div class="post-area w-75">
            <div class="post-heading row">
              <a href="/user/{{ post.user.id }}" class='col-8'> {{post.user.first_name}}  {{post.user.last_name}} - @{{ post.user.username }}</a>
              {% if 'current_user' in session %}
                {% if session['current_user'] == post.user.id %}
                  <form method="POST"
                        action="/posts/{{ post.id }}/edit">
                    <button class="btn btn-outline-danger" id='edit-post'>Edit</button>
                  </form>
                  {% endif %}
                  <form method="POST" action="/posts/{{post.id}}/like" class="messages-like">
                    <button class="
                      btn 
                      btn-sm 
                      {{'btn-danger' if post in user.likes else 'btn-outline-danger'}}" id='like'
                    >
                    {% if post in user.likes %}
                    <i class="fas fa-star liked"></i>
                    {% else %}
                    <i class="far fa-star no-like"></i>
                    {% endif %}
                    </button>
                  </form>
                  
                {% endif %}
              
            </div>
            <p class="single-post" style='white-space: pre-line;'>{{ post.details }}</p>
            <p>
              Muscles:
              {%for muscle in post.muscles%}
            <small><a class="text-success" data-toggle="modal" href="#{{muscle.name}}Modal">- {{muscle.name}} -</a></small>
            {% endfor %}
            </p>
            <p class="mt-2">Equipment:
              {%for equipment in post.equipment%}
            <small><a class="text-info" data-toggle="modal" href="#{{equipment.name}}Modal">- {{equipment.name}} -</a></small>
            {% endfor %}
            </p>
            
            {% if post.is_private %}
                    <span class="text-muted">{{ post.timestamp.strftime('%b %d, %Y') }}<small class="ml-3 post-lock">Private<i class="fas fa-user-lock ml-1"></i></small></span>
                    {% else %}
                    <span class="text-muted">{{ post.timestamp.strftime('%b %d, %Y') }}</span>
                    {%endif%}
          </div>
        </li>
        {%for muscle in post.muscles%}
      <div class="modal fade" id="{{muscle.name}}Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="{{muscle.name}}ModalLabel">{{muscle.name}} - {{muscle.body_part}} </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <img src="/static/muscles/{{muscle.name}}.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
      {%for equipment in post.equipment %}
  <div class="modal fade" id="{{equipment.name}}Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="{{equipment.name}}ModalLabel">{{equipment.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="img img-fluid" src="/static/equipment/{{equipment.name}}.jpg" alt="" >
        </div>
      </div>
    </div>
  </div>
  {%endfor%}
      </ul>
    </div>
  </div>
  
</div>

  

{% endblock %}

{%block scripts%}
<script src="/static/javascript/stars.js"></script>
{%endblock%}