{% extends 'base.html' %}

{%block title%}Home{%endblock%}


{%block content%}
{% include 'auth_nav.html' %}

<div class="container">
<div id="swolemate-cover" class="full-width" style="background-image: url({{user.cover_url}})"></div>
    <img src="{{ profuser.image_url }}" alt="Image for {{ profuser.username }}" id="profile-avatar">
    <div class="row full-width">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-9">
                    <ul class="user-stats nav nav-pills">
                    <li class="stat mx-2">
                        <p class="small">Posts</p>
                        <h4>
                        <a href="/user/{{ profuser.id }}" class="text-light" style="text-decoration:underline">{{ profuser.posts | length }}</a>
                        </h4>
                    </li>
                    <li class="stat mx-2">
                        <p class="small">Favorites</p>
                        <h4>
                        <a href="/user/{{profuser.id}}/likes">{{profuser.likes | length}}</a>
                        </h4>
                    </li>
                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-3">
          <h4 id="sidebar-username">@{{ profuser.username }}</h4>
          {% if profuser.bio %}
          <p>About: {{profuser.bio}}</p>
          {%endif%}
        </div>
    {% include 'all_posts.html' %}
    </div>
   

   
</div>
<div class="container mt-3">
    {% include 'flash.html'%}
</div>

{%endblock%}
